@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

.error{
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: red;
font-family: 'Days One', sans-serif;
}

span {
    color: black;
    display: flex;
    justify-content: ;
}

