:root {
    --gunmetal: #273443ff;
--raisin-black: #1e1e24ff;
--mint-cream: #f0f7eeff;
--silver-lake-blue: #6390c4ff;
--bakermiller-pink: #ff93b1ff;

}



body {
    background-color: var(--gunmetal);
}


.fade-page { 
    animation: fadeIn 5s;
  }
  
  .fade-content { 
    animation: fadeIn 7s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
/* Hide the scrollbar */
::-webkit-scrollbar {
    display: none;
}


/* Main section */
.main {
    background-image: url('./LandingPageImage.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .main-content {
    text-align: center;
    color: var(--mint-cream);
  }

  .main-content h1 {
    font-size: 36px;
    margin-bottom: 2px;
  }


  .main-content {
    margin-bottom: 500px;
  }
.pink {
    color: var(--bakermiller-pink);
    font-size: 20px;
}



/* about content */

.about {
  background-size: cover;
  background-position: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.about-content {
  text-align: center;
  color: var(--mint-cream);
  margin-top: 500px;
}

.about-content h1 {
  font-size: 36px;
  margin-bottom: 2px;
}


.about-content {
  margin-bottom: 500px;
}



/* artists Page */

.spotify-nm iframe {
  margin-top: 200px;
  width: 50%;
}

.spotify-sd iframe {
  margin-left: 960px;
  margin-bottom: 1200px;
  width: 50%;
}

.spotPhone iframe{
  display: none;
}
/* disabled scroll on artists page */
#noscroll {
  overflow: hidden;
}



  @media (max-width: 600px) {
    .main {
        background-image: url(./LandingPageImageMobile.png);
    }

    .main-content {
        margin-bottom: 500px;
    }

    .about-content {
      margin-top: 550px;
    }

    .spotify-nm iframe {
      margin-top: 100px;
      width: 100%;
    }
    .spotify-sd iframe {
      margin-top: 500px;
      width: 100%;
    }

    .spotPhone iframe {
      display: initial;
      margin-top: 60px;
      
    }

    .spotify {
      display: none;
    }
  }
