:root {
    --gunmetal: #273443ff;
--raisin-black: #1e1e24ff;
--mint-cream: #f0f7eeff;
--silver-lake-blue: #6390c4ff;
--bakermiller-pink: #ff93b1ff;

}


body {
    background-color: var(--gunmetal);
}


.fade-page { 
    animation: fadeIn 5s;
  }
  
  .fade-content { 
    animation: fadeIn 7s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
/* Hide the scrollbar */
::-webkit-scrollbar {
    display: none;
}

.main {
    background-image: url('./LandingPageImage.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .main-content {
    text-align: center;
    color: var(--mint-cream);
  }

  .main-content h1 {
    font-size: 36px;
    margin-bottom: 2px;
  }

.pink {
    color: var(--bakermiller-pink);
    font-size: 20px;
}


  @media (max-width: 600px) {
    .main {
        background-image: url(./LandingPageImageMobile.png);
    }
  }
